.badge {
  border: none;
  font-family: var(--font-vk-text), sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -4%;
  color: var(--color-text-primary);
  height: 35px;
  line-height: 35px;
  border-radius: 21px;
  padding: 0 var(--space16);
  background-color: var(--color-bg-main);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:
    background-color var(--transition),
    color var(--transition);

  /* tablet */
  @media (width >= 768px) {
    height: 41px;
    line-height: 41px;
    font-size: 18px;
  }

  &.light {
    font-weight: 400;
  }
}

a.badge,
button.badge {
  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--color-primary);
    color: var(--color-bg-main);
  }
}
