.badge {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -4%;
  color: var(--color-text-primary);
  height: 41px;
  line-height: 41px;
  border-radius: 21px;
  padding: 2px var(--space16) 0;
  background-color: var(--color-bg-main);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color var(--transition);
}

a.badge,
button.badge {
  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--color-bg-primary-light);
  }
}
