.swiper-nav {
  --size: 32px;

  border: none;
  font-family: var(--font-vk-display), sans-serif;
  font-size: 0;
  padding: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-secondary);
  }

  /* tablet */
  @media (width >= 768px) {
    --size: 62px;

    background-size: 23px;

    &.small {
      --size: 48px;

      background-size: 18px;
    }
  }

  &.prev {
    background-image: url("../../assets/images/prev.svg");
  }
  &.next {
    background-image: url("../../assets/images/next.svg");
  }
}
