.swiper-nav {
  --size: 32px;

  border: none;
  font-family: var(--font-vk-display), sans-serif;
  font-size: 0;
  padding: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 10px !important;
  transition: background-color var(--transition) !important;

  &:hover {
    background-color: var(--color-text-primary);
  }

  /* tablet */
  @media (width >= 768px) {
    --size: 62px;

    background-size: 20px !important;

    &.small {
      --size: 48px;

      background-size: 18px !important;
    }
  }

  &.prev {
    background-image: url("../../assets/images/prev.svg");
  }
  &.next {
    background-image: url("../../assets/images/next.svg");
  }
}

.pswp__button--arrow.swiper-nav {
  margin-top: calc(var(--size) / -2);
}

.pswp__button--arrow--prev.swiper-nav {
  left: 20px;
}

.pswp__button--arrow--next.swiper-nav {
  right: 20px;
}

.pswp--touch .pswp__button--arrow.swiper-nav {
  visibility: visible;
}
