.text-content {
  display: grid;
  gap: var(--space12);

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;

    /* desktop */
    @media (width >= 960px) {
      font-size: 16px;
    }
  }

  ol,
  ul {
    display: grid;
    gap: var(--space12);
    padding-left: var(--space12);

    li {
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;

      /* desktop */
      @media (width >= 960px) {
        font-size: 16px;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color var(--transition);

    &:hover {
      color: var(--color-primary);
    }
  }
}
