@font-face {
    font-family: 'VK Sans Display Condensed ExBd';
    src: url('VKSansDisplayCd-XBd.woff2') format('woff2'),
        url('VKSansDisplayCd-XBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed';
    src: url('VKSansDisplayCd-Blk.woff2') format('woff2'),
        url('VKSansDisplayCd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed';
    src: url('VKSansDisplayCd-Bd.woff2') format('woff2'),
        url('VKSansDisplayCd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed DemiBd';
    src: url('VKSansDisplayCd-DmBd.woff2') format('woff2'),
        url('VKSansDisplayCd-DmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed';
    src: url('VKSansDisplayCd-Rg.woff2') format('woff2'),
        url('VKSansDisplayCd-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed';
    src: url('VKSansDisplayCd-Md.woff2') format('woff2'),
        url('VKSansDisplayCd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display Condensed';
    src: url('VKSansDisplayCd-Lt.woff2') format('woff2'),
        url('VKSansDisplayCd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

